.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #c8dbba;
  background-image: linear-gradient(red,green,white);
}

.todo-item:hover {
  padding-right: 1px;
  background-color: #c8dbba;
  border-radius: 20px;  
  background-image: linear-gradient(red,green,white);

}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  width: 95%;
  border-bottom: 1px solid violet;
}

.todo-list {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid lightcyan;
  box-shadow: 5px;
}
